<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <p>if not logged in it will redirect to login page.that means it will check for cookie in my browser.</p>
    </div>
</body>
</html>