<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    this is the login page. it will first match the email with the existing user email in the database and then validate the password and
     then create a token in the browser.

</body>
</html>